---
layout: default
title: Welcome
---
<div class="home-container">
    <div class="photo-column">
        <div class="photo-carousel">
            <img src="{{ '/assets/images/frontpage/photo1.jpg' | absolute_url }}" alt="A fun, consensual party scene" id="carousel-image">
        </div>
    </div>

    <div class="text-column">
        <div class="content-box">
            <h2>Spanking Parties & General Extra-ness</h2>
            <p>We host spanking parties in downtown NYC with a focus on school/related immersive events that allow adults the full headspace - a day of classes, homework assignments, tests, and of course - punishments if you misbehave. At night, we open back up to a broader party for anyone just looking for some spanking fun - but don’t be surprised if you peep someone expanding on the earlier shenanigans of the morning’s events. You know what they say: spanked at school, spanked at home. For more on the lore and structure of Cheeky Preparatory Academy, view our <a href="/pages/history">history</a> page.</p>
        </div>
        <div class="events-container">
            <h2>Upcoming Events</h2>
            <p>Interested in attending a Cheeky event? If it's your first time joining us, you must first complete our <a href="/pages/vetting">vetting</a> process.</p>
            <div class="events-list">
                {% assign today_seconds = "now" | date: "%s" %}
                {% for event in site.data.events %}
                    {% assign event_end_seconds = event.end_date | date: "%s" %}
                    {% if event_end_seconds >= today_seconds %}
                        <div class="event-item">
                            <p class="event-name">{{ event.name }}</p>
                            <div class="event-date">
                                {% assign start_day = event.start_date | date: "%j" %}
                                {% assign end_day = event.end_date | date: "%j" %}
                                
                                {% if start_day == end_day %}
                                    {{ event.start_date | date: "%a, %b %-d, %Y" }}
                                    from {{ event.start_date | date: "%-I:%M %p" }} 
                                    to {{ event.end_date | date: "%-I:%M %p" }}
                                
                                {% else %}
                                    {{ event.start_date | date: "%a, %b %-d at %-I:%M %p" }} 
                                    to {{ event.end_date | date: "%a, %b %-d at %-I:%M %p" }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
        <div class="email-signup-container">
            <h2>Join our mailing list to stay connected!</h2>
            <form action="https://visitor.constantcontact.com/api/signup" method="post" target="_blank">
                <input type="hidden" name="ca" value="80cf9dbdc8861e12df93cb2741b08a61">
                
                <input type="hidden" name="list_id" value="123456789">

                <div class="form-row">
                    <input type="email" name="email_address" placeholder="your.email@example.com" required>
                    <button type="submit">Sign Up</button>
                </div>
            </form>
        </div>
        </div>
</div>
