<div class="social-links">
    <a href="https://fetlife.com/groups/91209" target="_blank" rel="noopener noreferrer" aria-label="FetLife">
        <img src="{{ '/assets/images/socials/fetlife.svg' | absolute_url }}" alt="FetLife logo">
    </a>

    <a href="https://x.com/cheekyspankos" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
        <img src="{{ '/assets/images/socials/twitter.svg' | absolute_url }}" alt="Twitter logo">
    </a>

    <a href="mailto:cheekyspankos@gmail.com?subject=From the Cheeky Spanko Website" aria-label="Email">
        <img src="{{ '/assets/images/socials/email.svg' | absolute_url }}" alt="Email icon">
    </a>
</div>

<p>&copy; {{ 'now' | date: "%Y" }} by Cheeky Spankos.</p>
