---
layout: default
---

<div class="post-list">
  {% for post in paginator.posts %}
    <div class="post-preview">
      <div class="preview-image">
        <a href="{{ post.url | absolute_url }}">
          <img src="{{ post.preview_photo | absolute_url }}" alt="{{ post.title }}">
        </a>
      </div>
      <div class="preview-text">
        <h2 class="preview-title"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
        <p class="preview-excerpt">
          {{ post.excerpt | strip_html | truncatewords: 30 }}
        </p>
      </div>
    </div>
  {% endfor %}
</div>

<div class="pagination-nav">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | absolute_url }}" class="prev">&laquo; Newer Posts</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | absolute_url }}" class="next">Older Posts &raquo;</a>
  {% endif %}
</div>
