<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} | {{ site.title }}</title>

    <!-- Google Analytics GA4 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9CNYGYHST"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-T9CNYGYHST');
    </script>

    {% seo %}
    <link rel="icon" type="image/svg+xml" href="{{ '/assets/images/logo/favicon.svg' | absolute_url }}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ '/assets/images/logo/favicon.png' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | absolute_url }}">
</head>
<body>

    <header class="header">
        {% include header.html %}
    </header>

    <main class="main-content">
      {% if page.url == "/" %}
        <!-- For the homepage, just show the content as-is -->
        {{ content }}
      {% else %}
        <!-- For all other pages, wrap content in the page-container -->
        <div class="page-container">
          {{ content }}
        </div>
      {% endif %}
    </main>

    <footer class="footer">
        {% include footer.html %}
    </footer>
    
    <script src="{{ '/assets/js/gallery.js' | absolute_url }}"></script>    
    <script src="{{ '/assets/js/hamburger.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/indexphoto.js' | absolute_url }}"></script>
</body>
</html>
